body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #fff;
}

.container {
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

button, input {
    margin: 10px;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

button {
    background-color: #ff7e5f;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #feb47b;
}

input {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
}

input::placeholder {
    color: #888;
}

.history-button {
    margin: 5px;
    padding: 10px;
    background-color: #ff7e5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.history-button:hover {
    background-color: #feb47b;
}